<header>
  <img src="./assets/images/infonavit.png" style="width: 100px; height: 100px; margin: 10px;">
</header>
<main>
  <!-- <section>
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
          aria-expanded="false">Administrar y configurar el sistema</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Configurar centros de atencion</a>
          <a class="dropdown-item" href="">Configurar area</a>
          <a class="dropdown-item" href="">Configurar Categoria</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Turnos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="">Citas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link active" href="">Seguridad</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Requerimientos no funcionales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Encuestas</a>
      </li>
    </ul>
  </section> -->
  <router-outlet></router-outlet>
</main>
