<app-header></app-header>
<main class="row">
  <aside class="col-sm-3 mt-5">
    <nav class="navbar bg-light">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle n1" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Administrar y configurar sistema</a>


        <div class="col-sm-12">
        <div class="dropdown-menu">
          <a class="nav-link dropdown-toggle n2" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">Configurar centros de atención</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" >Configurar centros de atención</a>
            <a class="dropdown-item" >Configurar Área</a>
            <a class="dropdown-item" >Configurar Categoría</a>
          </div>
          <a class="nav-link dropdown-item" >Configurar Área</a>
          <a class="nav-link dropdown-item" >Configurar Categoría</a>
        </div>
       </div>

        </li>
        <li class="nav-item">
          <a class="nav-link active" >Turnos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active">Citas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active">Seguridad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Requerimientos no funcionales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Encuestas</a>
        </li>
      </ul>
    </nav>
  </aside>
	<section class="col-sm-9">
		<router-outlet></router-outlet>
	</section>
</main>
