<div class="backgroundPanel">

</div>

<div class="container">
  <div class="row">
    <!-- <div class="col-sm" style="text-align: left;">
      <img src="../../../assets/images/infonavit.png" class="logo" />
      <hr class="head">
    </div> -->
    <div class="col-12">
      <h3 class="text-center my-4 text-info"> Asociar servicio a una categoría </h3>
      <hr class="body">
    </div>
    <div class="col-12 bkgPanel">
      <br><br>
      <div class="col-md-11">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active " id="servicio-alta-tab" data-toggle="tab" href="#servicio-alta" role="tab" aria-controls="servicio-alta" aria-selected="true">Asociar un servicio a una categoría</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="servicio-modificar-tab" data-toggle="tab" href="#servicio-modificar" role="tab" aria-controls="servicio-modificar" aria-selected="false">Consultar un servicio a una categoría</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="servicio-buscar-tab" data-toggle="tab" href="#servicio-buscar" role="tab" aria-controls="servicio-buscar" aria-selected="false">Desasociar un servicio a una categoría</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="servicio-buscar-tab" data-toggle="tab" href="#servicio-buscar" role="tab" aria-controls="servicio-buscar" aria-selected="false">Modificar un servicio a una categoría</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="servicio-alta" role="tabpanel" aria-labelledby="servicio-alta-tab">
            <app-alta-servicio></app-alta-servicio>
          </div>
          <div class="tab-pane fade" id="servicio-modificar" role="tabpanel" aria-labelledby="servicio-modificar-tab">
            <app-modificar></app-modificar>
          </div>
          <div class="tab-pane fade" id="servicio-buscar" role="tabpanel" aria-labelledby="servicio-buscar-tab">
            <app-buscar></app-buscar>
          </div>
        </div>
      </div>
      <!-- <br /><br>
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btnCancelar centrado">Cancelar</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btnGuardar centrado" data-toggle="modal" data-target="#exampleModalCenter">Guardar</button>
        </div>
      </div>
      <br><br> -->


    </div>
  </div>



</div>
