<section class="container bkgPanelAlta">
  <br><br>
  <form>
    <div class="form-row">
      <div class="col">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre Área">
      </div>
      <div class="col">
        <label for="exampleFormControlSelect1">Centro de Atención</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Selecciona los centros de atención</option>
          <option>Centro de Atención Barranca del Muerto</option>
          <option>Centro de Atención Insurgentes</option>
          <option>Centro de Atención Centro</option>
        </select>
      </div>
    </div>
    <br><br>
    
  </form>
</section>


