<section class="container">
  <form>
    <div class="form-row">
      <div class="col">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre Área">
      </div>
      <div class="col">
        <label for="exampleFormControlSelect1">Centro de Atención</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Selecciona los centros de atención</option>
          <option>Centro de Atención Barranca del Muerto</option>
          <option>Centro de Atención Insurgentes</option>
          <option>Centro de Atención Centro</option>
        </select>
      </div>
    </div>
    <br /><br /><br />
    <div class="form-row">
      <div class="col text-center">
        <button type="button" class="btn btn-info ">Cancelar</button>
      </div>
      <div class="col text-center">
        <button type="button" class="btn btn-danger " (click)="guardar()">Guardar</button>
      </div>
    </div>
  </form>
</section>
