
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active" (click)="myFunc(1)">
        <a class="nav-link" href="#"  >Dar de Alta </a>
      </li>
      <li class="nav-item" (click)="myFunc(2)">
        <a class="nav-link" href="#" >Modificar</a>
      </li>
      <li class="nav-item" (click)="myFunc(3)">
        <a class="nav-link" href="#" >Buscar</a>
      </li>
    </ul>
  </nav>
  <div *ngIf="panel == 1">
    <div id="home" class="container tab-pane active"><br>

      <form>
          <div class="form-row">
              <div class="col">
                  <label for="exampleFormControlInput1">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre Área">
              </div>
              <div class="col">
                  <label for="exampleFormControlSelect1">Centro de Atención</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Selecciona los centros de atención</option>
                    <option>Centro de Atención Barranca del Muerto</option>
                    <option>Centro de Atención Insurgentes</option>
                    <option>Centro de Atención Centro</option>
                  </select>
              </div>
          </div>
          <br/><br/><br/>
          <div class="form-row">
              <div class="col text-center">
                  <button type="button" class="btn btn-info ">Cancelar</button>
              </div>
              <div class="col text-center">
                  <button type="button" class="btn btn-danger " (click)="guardar()">Guardar</button>
              </div>
          </div>
      </form>

  </div>
  </div>
  <div *ngIf="panel == 2">
    <section class="container">
      <div class="row">
          <form class="col-md-12">
              <div class="form-group w-50">
                  <label for="exampleFormControlSelect1">Seleccionar Área</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Área 1</option>
                    <option>Área 1</option>
                  </select>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-check col-md-3">
                    <div class="ml-3 mt-4">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Activo
                        </label>
                    </div>
                </div>
              </div>


              <div class="form-group w-100">
                  <label for="exampleFormControlSelect1">Centros de Atención</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Área 1</option>
                    <option>Área 1</option>
                  </select>
              </div>

              <div class="col-12">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Guardar</button>
                  <button type="button" class="btn btn-danger offset-1">Cancelar</button>
              </div>
            </form>
      </div>
  </section>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Inhabilitar Área</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Esta a punto de inhabilitar el área Crédito.</p>
              <p>¿Estás seguro de continuar?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary">Confirmar</button>
          </div>
          </div>
      </div>
  </div>
  </div>
  <div *ngIf="panel == 3">
    <section class="container">
      <form class="form-inline">
          <label class="col-12 justify-content-start pl-0">Buscar Área</label>
          <input class="form-control col-10 my-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2" type="submit">Buscar</button>
        </form>

        <div class="container mt-3">
            <ul class="list-group col-10">
              <li class="list-group-item list-group-item-action disabled">Área</li>
              <li class="list-group-item list-group-item-action">Crédito</li>
              <li class="list-group-item list-group-item-action">Cartera / Cobranza</li>
              <li class="list-group-item list-group-item-action">Recaudación Fiscal</li>
            </ul>
        </div>
  </section>
  </div>
