<section class="container bkgPanelMod">
  <br><br>
  
  <form>
      <div class="form-row">
        <div class="col">
          <label for="exampleFormControlSelect1">Seleccionar Área</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Área 1</option>
            <option>Área 2</option>
          </select>
        </div>
        <div class="col">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-2" style="vertical-align: middle;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activo
            </label>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-5">
          <label for="exampleFormControlSelect1">Centros de Atención</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Centro de Atención 1</option>
            <option>Centro de Atención 2</option>
          </select>
        </div>
        <div class="col"></div>  
      </div>

    </form>
  
  <br><br>

</section>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bkgModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center bkgModalBody">
        Estás a punto de Inhabilitar el área de Crédito.<br>
        ¿Estás seguro de continuar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btnCancelar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btnGuardar">confirmar</button>
      </div>
    </div>
  </div>
</div>
