<section class="container bkgPanelMod">
  <div class="row">
    <form class="col-md-12" [formGroup]="editForm">
      <div class="form-group w-50">
        <label for="exampleFormControlSelect1">Seleccionar Área</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="id">
          <option>Área 1</option>
          <option>Área 1</option>
        </select>
      </div>

      <div class="row">
        <div class="form-group col-md-6">
          <label for="exampleFormControlInput1">Nombre</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="col-2" style="vertical-align: middle;">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Activo
            </label>
        </div>
      </div>


      <div class="form-group w-100">
        <label for="exampleFormControlSelect1">Centro de Atención</label>
        <select class="form-control" id="exampleFormControlSelect1" formControlName="idCentroAtencion">
          <option>Área 1</option>
          <option>Área 1</option>
        </select>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <button type="button" class="btn btnCancelar centrado">Cancelar</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btnGuardar centrado" data-toggle="modal" (click)="update()">Guardar</button><!--  data-target="#exampleModal" -->
        </div>
      </div>

    </form>
  </div>
</section>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bkgModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center bkgModalBody">
        Estás a punto de Inhabilitar el área de Crédito.<br>
        ¿Estás seguro de continuar?
      </div>
      <div class="modal-footer">
        <button type="button" class="btnCancelar" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btnGuardar">confirmar</button>
      </div>
    </div>
  </div>
</div>
