<section class="container bkgPanelAlta">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <form class="form-inline">
          <div class="input-group ">
            <input type="text" class="form-control inputBuscar" placeholder="Buscar" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <button class="btnBuscar" type="button">Buscar</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-6">
        <ul class="list-group col-10">
          <li class="list-group-item list-group-item-action disabled">Área</li>
          <li class="list-group-item list-group-item-action">Crédito</li>
          <li class="list-group-item list-group-item-action">Cartera / Cobranza</li>
          <li class="list-group-item list-group-item-action">Recaudación Fiscal</li>
        </ul>
      </div>
    </div>
    <br><br>
  </div>

  <div class="form-row mt-5">
    <div class="col text-center">
      <button type="button" class="btn btnCancelar centrado" (click)="limpiar()">Cancelar</button>
    </div>      
    <div class="col text-center">
      <button type="button" class="btn btnGuardar centrado" (click)='guardar()'>Guardar</button>
    </div>
  </div>

</section>
