.bkgPanelAlta{
    background-color: white;  
}

.btnBuscar {
    display: block;
    width: 100px;
    height: 40px;
    background:rgb(75, 101, 128);
    color: white;
    border-radius: 0px 15px 15px 0px;
}

.inputBuscar {
    display: block;
    border-radius: 15px 0px 0px 15px;
}