
.bkgPanel{
    background-color: rgb(242, 243, 245);
}

hr.head {border: 2px inset #eee; height: 1px; width: 100%;}
/*hr.body {border: 2px inset #eee; height: 1px; width: 10%;}*/
hr.body {border: 2px solid #666; border-radius: 300px/10px; height: 0px; text-align: center;width: 10%;}

.btnCancelar {
    display: block;
    width: 200px;
    height: 40px;
    background:rgb(86, 110, 136);
    color: white;
    border-radius: 15px 15px 15px 15px;
}

.btnGuardar {
    display: block;
    width: 200px;
    height: 40px;
    background:rgb(178, 73, 90);
    color: white;
    border-radius: 15px 15px 15px 15px;
}

.logo {
    width: 65px;
    height: auto;
  }
  
button.centrado {
  /*  width: 110px; /* Para que no se rompa en dos líneas, y lo translade tal cual. */
    margin-left: 50%;
    transform: translateX(-50%);
}


.nav-tabs .nav-item .nav-link {
    background-color:rgb(236, 209, 214);  /* color backgroud cuando no tiene foco*/
    color:rgb(143, 123, 143); /* Color letra cuando no tiene foco */
  }
  
  .nav-tabs .nav-item .nav-link.active {
    color:rgb(75, 101, 128); /* Color letra cuando tiene foco */
    background-color:rgb(215, 164, 173); /* color backgroud cuando tiene foco*/
  }
  
  .tab-content {
    border: 1px solid #dee2e6;
    border-top: transparent;
    padding: 15px;
  }
  
  .tab-content .tab-pane {
    background-color: #FFF;
    color: #0e0f0f;
    min-height: 200px;
    height: auto;
  }