

  <div class="backgroundPanel">

</div>

<div class="container">
  <div class="row">
    <!-- <div class="col-sm" style="text-align: left;">
      <img src="../../../assets/images/infonavit.png" class="logo" />
      <hr class="head">
    </div> -->
    <div class="col-12">
      <h3 class="text-center my-4 text-info"> Configurar Categorías por área </h3>
      <hr class="body">
    </div>
    <div class="col-12 bkgPanel">
      <br>
      <div class="tab-pane bkgSubPanel" >
        <br>
        <form  class="mt-4" novalidate >
            <div class="form-row">
                <div class="col-1"></div>
                <div class="col">
                <label for="exampleFormControlInput1">Áreas</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>SELECCIONE</option>
                  <option>Crédito</option>
                  <option>Crédito 2</option>
                  <option>Crédito 3</option>
                </select>
              </div>
              <div class="col-1"></div>
              <div class="col">    
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="text-align: center;">Categorias</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <label><input type="checkbox" value=""> Credito asesoría</label>
                        </div>
                        <div class="checkbox">
                          <label><input type="checkbox" value=""> Crédito trámite</label>
                        </div>
                        <div class="checkbox disabled">
                          <label><input type="checkbox" value=""> Crédito preferente</label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-1"></div>
            </div>
              
            <div class="form-row mt-5">
              <div class="col text-center">
                <button type="button" class="btn btnCancelar centrado">Asociar categorías</button>
              </div>    
            </div>
          </form>
          <br>
      </div>
      <br>
    </div>
  </div>



</div>
